<div class="home-page">
    <!-- Navigation -->
    <app-navbar></app-navbar>
    <!-- home-image Section -->
    <section class="home-image">
      <img src="assets/images/choubIA.jpg" alt="Choubi-Garros-BG" class="home-image-bg">
      <div class="home-image-content">
        <h1>Bienvenue à Choubi-Garros</h1>
        <p>C'est le retour du tournoi le plus choubesque de la terre</p>
        <button class="cta-button" routerLink="/bracket">Voir le tableau</button>
      </div>
    </section>
  
    <!-- Informations clés -->
    <section class="features">
      <div class="feature">
        <h3>Dernières nouvelles</h3>
        <p>Les résultats en direct et les moments forts</p>
      </div>
      <div class="feature">
        <h3>Programme du jour</h3>
        <p>Consultez les matchs à venir</p>
      </div>
      <div class="feature">
        <h3>Classements</h3>
        <p>Qui domine le tournoi cette année ?</p>
      </div>
    </section>
    <app-footer></app-footer>
  </div>